body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #44A08D , #093637); 
}

.logo {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
}
.logo img {
  max-width: 60vw;
  height: auto;
}

@font-face {
  font-family: 'Pokemon Font';
  src: url('Pokemon Hollow.ttf');
}

.loading {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  justify-content: center;
  align-items: center;
  font-family: 'Pokemon Font';
  font-size: 1.5em;
  text-align: center;
  color: #ffcc03;
  white-space: pre-line;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.loadfont {
  font-family: 'Pokemon Font';
  display: flex;
  text-align: center;
  color: #ffcc03;
  font-size: 2rem;
}

.Pokemonfont {
  font-family: 'Pokemon Font';
  color: #ffcc03;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: bold;
}

h2, h3 {
  margin: 0.2rem;
}

.container {
  width: 95% ;
  margin: auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.right-content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
  gap: 1.5rem;
  overflow: auto;
  height: 800px;
  margin-left: 20px;
}

.gridPokemon {
  display: grid;
  justify-content: center;
}

.left-content {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: black;
  top: 100px;
  margin-bottom: 10px;
}

.picture {
  width: 60vw;
}

.pokemonStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.abilities {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.abilities .group {
  color: #093637;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  font-size: 0.5rem;
}

.stats {
  font-size: 0.6rem;
}

@media (min-width: 640px) {
  .stats {
    font-size: 0.8rem;
  }
  .abilities .group {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .picture {
    width: 25vw;
  }
  .left-content {
    flex-direction: column;
    width: 25vw;
  }
  .Pokemonfont {
    font-size: 1.5em;
  }
  .abilities .group {
    font-size: 12px;
  }
  .stats {
   font-size: 1rem;
  }
}

@media (min-width: 1280px) {
  .loading {
    font-size: 1.8em;
  }
  .Pokemonfont {
    font-size: 2em;
  }
}

.left-content img {
  margin: 1rem;
  max-width:70%;
  height:auto;
  
}
.left-content h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.base-stat {
  margin-bottom: 1rem;
}

.btn-group {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

button {
  outline: none;
  border: none;
  width: 150px;
  padding: 0.3rem 0;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: burlywood;
  border-radius: 8px;
  cursor: pointer;
}
  
.card-container {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 24rem;
  border-radius: 1rem ;
  box-shadow: 4px 6px 6px rgba(0,0,0,0.5);
  padding: 1.5rem;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 1s;
}

.card-container:hover {
  transform: scale(1.1);
}

.card-container img {
    max-width:75%;
    height:auto;
}

small {
  font-size: medium;
}
